.titlebar {
    background: #329ea3;
}
.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
.titlebar-button:hover {
    background: #5bbec3;
}

body {
    font-family: "Inter", "sans-serif";
    background-color: rgb(249, 250, 251);
}

button, input {
    font-family: "Inter", "sans-serif";
}

.font-code {
    font-family: "JetBrains Mono", "sans-serif";
}
